*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #500;
	color: #999;
}

a {
	color: #999;
}
a:visited {
	color: #888;
}

a:hover {
	color: #B22;
}

nav {
	display: inline-block;
	width: 200px;
	margin: 0px;
}

nav a {
	text-decoration: none;
	display: block;
	border: 1px solid;
	text-align: center;
	border-radius: 15px;
	box-shadow: 4px 4px 2px;
	background: linear-gradient(#000, #A22);
}

nav a:active {
	text-decoration: none;
	display: block;
	border: 1px solid;
	text-align: center;
	border-radius: 15px;
	box-shadow: 4px 4px 2px;
	background: linear-gradient(#A22, #000);
}

nav .active {
	text-decoration: underline;
}

table {
	font-weight: bold;
	width: 100%;
}

td {
	text-align: center;
}

main {
	display: inline-block;
	vertical-align: top;
	width: 685px;
	margin: 0px;
	padding-bottom: 20px;
}

footer {
	background-color: #000;
	color: #FFF;
	text-align: center;
}

#head1 {
	background-color: #000;
	color: #FFF;
	text-align: center;
}

#frontpage {
	display: block;
}

#contactlist {
	display: inline-block;
	width: 150px;
	margin: 0px 8px;
}

#image {
	height: 150px;
	width: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tb2 {
	text-align: left;
	font-weight: normal;
}

#wrapper {
	width: 940px;
	margin: 0px auto;
}

@media screen and (max-width: 600px) {
	a {
		font-size: 150%;
	}
	body {
	}
}