#footer {
	background-color:black;
	color:white;
	text-align:center;
}
#head1 {
	background-color:black;
	color:white;
	text-align:center;
}
#table1 {
	font-size: 20px;
}
body {
	background-color: #500;
	color:black;
}
a {
	color:green;
}
a:visited {
	color:gray;
}
a:hover {
	color: pink;
}